<!-- carousel -->
<div  class=" container" class="espaciado">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="../../../assets/img/imagen.jpg"  width="100%" height="420" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/imagen.jpg"   width="100%" height="420" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/imagen.jpg"   width="100%" height="420" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    
      </div>
    </div>
    <!-- fin carousel -->


    <!-- inicio main -->
    
    <app-card-product></app-card-product>
    
    <!-- <div *ngFor="let item of product" class="container" class="espaciado">
    <div class="row row-cols-md-3 ">
      <div class="col">
        <div class="card">
          <img  [src]=" url + 'product/img/' + item.image"   class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }} </h5>
            <p class="card-text">{{ item.price }}</p>
          </div>
        </div>
      </div>
 -->
      
  
  <!-- fin main -->

  <!-- inicio article -->
  <div class="card bg-dark text-white" class="espaciado">
    <img src="../../../assets/img/imagen.jpg"  width="100%" height="200"  alt="...">
    <div class="card">
      <h5 class="card-title">titulo</h5>
      <p class="card-text">texto</p>
      <p class="card-text">texto</p>
    </div>
  </div>
  <!-- fin article -->




